body {
	font-family:Verdana, Geneva, sans-serif;
}

p {
}

h1 {
	font-family:Tahoma, Geneva, sans-serif;
	padding-left:10px;
}

h2 {
	padding-top:50px;
	padding-left:10px;
}

h3 {
	padding-left:10px;
}

h4 {
	padding-left:10px;
}

img {
}

strong {
}

#headerMenu li {
	display:inline;
}

#reviewForm
{
	position:absolute;
	left:450px;
	top: 120px;
}

#contactForm
{
	position:absolute;
	left:50px;
	top: 120px;
}

select {
}

ul
{
	float:left;
	width:100%;
	padding:0;
	padding-bottom:10px;
	margin:0;
	list-style-type:none;
	text-align:center;
}

#developerList li
{
	padding-left:10px;
	padding-bottom:2px;
	text-align:left;
}

#headerMenu a
{
	float:left;
	width:8em;
	text-decoration:none;
	color:white;
	background-color:rgb(90,0,90);
	padding:0.2em 0.6em;
	border-right:1px solid white;
	font-family:Verdana, Geneva, sans-serif;
}

#headerMenu a:hover
{
	background-color:red;
}

#btnStart
{
	position:absolute;
	left:450px;
	top: 440px;
}

p.intro
{
	font-family:Verdana, Geneva, sans-serif;
	position:relative;
	left:450px;
	top:-430px;
}

div.footnote
{
	background-color:rgb(90,0,90); 
	/* rgb(75,0,75) is another dark purple */
	width:73%;
}

p.footnote
{
	font-family:Verdana, Geneva, sans-serif;
	color:rgb(192,192,192);
	padding:25px 50px;
}